.container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: solid 1px #cac8c8;
    width: 580px;
    height: fit-content;
    border-radius: 8px;
    padding: 30px 35px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.7);
    align-items: center;
    color: #1b2030;
}

.form h2{
    color: #1b2030;
}

.itemContainer{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.inputContainer{
    display: flex;
    gap: 25px;
}

.mailContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    justify-self: center;
}

.mail{
    grid-column: 1/2;
    grid-row: 1/-1;
    padding: 5px 15px;
    border-radius: 7px;
    border: solid 1px #cac8c8;
    width: 220px;
    align-items: center;
}

.mail:focus{
    border-color: #076b03;
    outline: none;
    box-shadow: 0 0 5px rgba(7,107,3,0.4);
}

.date{
    grid-column: 2/-1;
    grid-row: 2/-1;
    border-radius: 7px;
    border: solid 1px #cac8c8;
    padding: 5px 15px;
    color: #918d8d;
}

.date:focus{
    border-color: #076b03;
    outline: none;
    box-shadow: 0 0 5px rgba(7,107,3,0.4);
}

.input{
    padding: 5px 15px;
    border-radius: 7px;
    border: solid 1px #cac8c8;
    width: 220px;
    height: 45px;
}

.input:focus{
    border-color: #076b03;
    outline: none;
    box-shadow: 0 0 5px rgba(7,107,3,0.4);
}

.submitBtn{
    padding: 10px 25px;
    border: none;
    background: linear-gradient(135deg, #076b03, #0aa00a);
    color: white;
    font-weight: bold;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 0 auto;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.submitBtn:hover{
    background: linear-gradient(135deg, #064c02, #087d08);
    transform: scale(1.05);
}